@import url(../../css/reset.css);
@import url(../../css/main.css);

.container {
  box-sizing: border-box;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  position: relative;
}

.filter {
  display: flex;
  align-items: center;
  gap: 2rem;
}

nav {
  display: flex;
  /* width: 100%; */
  justify-content: space-between;
  text-align: center;
  color: #414141;
  align-items: center;
  padding: 1rem;
}

a {
  text-decoration: none;
  /* color: var(--primaryColor); */
  margin: 0.8rem;
  font-size: 24px;
  /* padding: 0.5rem; */
}

.search {
  width: 50%;
  padding: 1.1em 0.6em;
  border-radius: 5px;
  border: none;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding-left: 2.5rem;
}

.main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  /* background-color: #414141; */
}

.textContainer {
  /* display: flex; */
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--lightGrey);
  width: 95%;
  margin: 1rem;
}

li {
  list-style: none;
  font-size: 0.2rem;
  color: white;
}
h2 {
  color: var(--primaryColor);
  padding: 0.2rem;
}
a {
  text-decoration: none;
  color: var(--primaryColor);
  margin: 10px;
  font-size: 1.5rem;
  padding: 0.5rem;
}
.itemContainer {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  text-align: center;
}

.item {
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
  margin: 1rem;
  box-shadow: 10px 10px 8px 10px #b1b1b1;
  border-radius: 1rem;
}

.itemImage {
  width: 300px;
  height: 400px;
}

@media only screen and (max-width: 500px) {
  .navbar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .brandName {
    font-size: 1rem;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    width: 120px;
    padding-left: 1.5rem;
    font-size: 1rem;
  }

  .documentation {
    font-size: 1rem;
  }

  .textM2 {
    font-size: 1rem;
  }
  .all {
    font-size: 1rem;
  }

  label {
    font-size: 0.7rem;
  }

  .itemImage {
    height: 130px;
    width: 130px;
  }

  .itemContainer {
    display: flex;
    flex-direction: column;
  }

  a {
    text-decoration: none;
    font-size: 1rem;
  }

  .search {
    display: none;
  }
  .list {
    display: flex;
  }
}
