@import url(../../css/reset.css);
@import url(../../css/main.css);

.container {
  box-sizing: border-box;
  display: flex;
  /* flex-direction: column; */
  height: 100%;
  justify-content: space-between;
  position: relative;
}

nav {
  display: flex;
  /* width: 100%; */
  justify-content: space-between;
  text-align: center;
  color: #414141;
  align-items: center;
  padding: 1rem;
}

a {
  text-decoration: none;
  /* color: var(--primaryColor); */
  margin: 0.8rem;
  font-size: 24px;
  /* padding: 0.5rem; */
}

.search {
  width: 50%;
  padding: 1.1em 0.6em;
  border-radius: 5px;
  border: none;
}
main {
  height: 100%;
}

input {
  width: 215px;
  /* outline: none; */
}

.loginContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
