<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/b78dcc4774.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="./login.css" />
    <title>d-Gadget Store</title>
  </head>

  <body>
    <nav class="fontWhite bgBlack">
      <a class="brandName fontWhite bold pointer" href="/index.html"
        >d-Gadget Store</a
      >
      <div class="search">
        <input type="search" placeholder="search" class="search" />
      </div>
      <div class="list">
        <a class="p05 fontWhite bgBlack pointer">Login</a>
        <a class="p05 fontWhite bgBlack pointer"
          ><i class="fa fa-shopping-cart" style="font-size: 24px"></i
        ></a>
        <a class="p05 fontWhite bgBlack pointer"
          ><i class="fa fa-heart" style="font-size: 24px"></i
        ></a>
      </div>
    </nav>

    <main>
      <div class="loginContainer">
        <h1>Login Page</h1>
        <label for="username">Username: </label>
        <input type="text" placeholder="username" class="br1 p05" />
        <label for="password"> Password:</label>
        <input type="password" placeholder="password" class="br1 p05" />
        <button class="btn btnPrimary">Login</button>
        <p class="bold">or</p>
        <a href="./signup.html">SIGN UP</a>
      </div>
    </main>
  </body>
</html>
